.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear alternate;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: translateX(70vw); }
  33% { transform: translateX(0) rotate(0deg); }
  50% { transform: rotate(180deg); }
  58% { transform: rotate(270deg); }
  66% { transform: rotate(360deg); }
  100% { transform: translateX(-60vw) ; }
}

.App-Board {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.Modal {
  align-items: center;
  background-color: Lavender;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0px;
  position: fixed;
  right: 0px;
  text-align: center;
  top: 0px;
  transform: scale(0) translateY(-100vh);
  transition: all .5s ease-in-out;
}

.Modal-shown {
  transform: scale(1) translateY(0);
}

.QuestionModal-question,
.QuestionModal-result {
  font-size: 4em;
  max-width: 800px;
  text-align: left;
}

.QuestionModal-answer {
  display: flex;
  align-items: stretch;
  background-color: white;
  margin: 1em 0;
  box-sizing: border-box;
}

.QuestionModal-answer-input,
.QuestionModal-answer-prefix,
.QuestionModal-answer-button {
  font-size: 24px;
}

.QuestionModal-answer-prefix {
  background-color: lightgray;
  color: #333;
  margin-right: .25em;
  padding: 1em;
}

.QuestionModal-answer-input {
  border: 0;
  padding: 0 .5em;
  margin: 0;
  outline: 0;
}

.QuestionModal-answer-button {
  border: 0;
  background-color: DarkSeaGreen;
}

.QuestionModal-answer-button[disabled] {
  border: 0;
  background-color: lightseagreen;
  color: gainsboro;
}
