.ClueSquare {
  align-items: center;
  background-color: darkorchid;
  color: white;
  display: flex;
  font-size: 3em;
  height: 100px;
  justify-content: center;
  margin-top: 10px;
  width: 100px;
  transform: scale(1);
  transition: background-color .25s ease-in-out,
              transform .25s ease-in-out,
              box-shadow .25s ease-in-out;
}

.ClueSquare:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  background-color: lightcoral;
  transform: scale(1.1)  rotate(2deg);
}
